* {
    font-family: 'Raleway', sans-serif;
    margin-left: 7px;
    margin-right: 7px;
}

a {
    text-decoration: none;
    color: black;
}

.Liens-Header a:hover {
    border-top: solid #0065FC;
    color: #0065FC;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  nav a {
    margin-left: 60px;
    padding: 27px;
    font-size: 16px;
  }
  
  .Logo {
    height: 18px;
    width: auto;
  }

/*Pitch*/

  main {
    margin-top: 70px;
  }

  .Search-Bar h1 {
    font-size: 22px;
    line-height: 5px;
    font-weight: 700;
  }

  .Search-Bar p {
    font-size: 16px;
  }

/*Baree de recherche*/

.Recherche-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 30px;
}

.Logo-Localisation{
  background-color: #F2F2F2;
  padding: 16px 13px 16px 13px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 0px;
}
  
::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }

.Champ-Saisie {
  margin-right: -10px;
  margin-left: -28px;
  margin-top: 0px;
  padding: 17px 50px 13px 15px;
  border-top: solid #F2F2F2;
  border-bottom: solid #F2F2F2 ;
  border-left: none;
  border-right: none;
}

.Boutton-Recherche {
  background-color:#0065FC ;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: none;
  font-size: 18px;
  width: 132px;
  height: 51px;
  }

.Info-Recherche {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

.Info-Recherche i {
  border-radius: 50%;
  border: solid #F2F2F2;
  padding: 10px 8px 10px 8px;
  color: #0065FC  ;
}

.Recherche-2 i {
  display: none;
  }
  
  /*Section Filtres*/

.Filtres {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 15px;
}

.Box-Filter {
  border-radius: 25px;
  border: solid #F2F2F2;
  padding: 8px 12px 8px 8px;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 700;
}

.Box-Filter i {
  color:#0065FC ;
}

.Filtre-Nom {
  padding-top: 8px;
  font-weight: 700;
  font-size: 18px;
}

.Box-Filter:hover {
  background-color: #DEEBFF ;
  color: #0065FC;
}




/*Card Hébergements Marseille*/

.Conteneur-Box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Box-Hebergements {
  align-content: space-around;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  height: 626px;
  border-radius: 10px;
  flex: 2;
  
}

.Box-Populaires {
  background-color: #F2F2F2;
  height: 625px;
  border-radius: 10px;
  flex: 1;
}

.Conteneur-Box h1 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  line-height: 26px;
}

.Afficher-Plus {
  margin-top: 40px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 30px;
}

.Afficher-Plus h2 {
  line-height: 21px;
  font-weight: 700;
  font-size: 18px;
}

/*Card hébergements*/

.Box-Hebergements h1 {
  margin-left: 40px;
  margin-top: 42px;
}

.Grid-Hebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Grid1 {
  background-color: white;
  border-radius: 20px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Grid1-Info {
  width: 80%;
  margin-left: 0%;
}

.Image {
width: 100%;
height: 120%;
margin-left: -7px;
margin-right: 0%;
border-radius: 20px 20px 0px 0px; 
border: 5px solid #FFFFFF;
padding: 0%;
object-fit: cover;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

.Grid1 h2 {
margin-left: 16px;
margin-top: -1px;
}

.Grid1 h3 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  margin-top: -12px;
}

.Etoiles {
  color: #0065FC;
  margin-top: -12px;
  margin-left: 25px;
  display: block;
}

.Etoiles i {
  margin-left: -10px;
}



/*Card + populaires*/

.Box-Populaires h1 {
margin-left: 34px;
margin-top: 42px;
}

.Title-Populaires {
  display: flex;
  flex-direction: row;
}

.Icon-Growth i {
  margin-top: 55px;
  color: #0065FC;
  margin-left: 380%;
}

.Flex-Populaires {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-left: 34px;
  margin-right: 40px ;
  margin-top: 15px;
}

.Flex1 {
  background-color: white;
  border-radius: 20px;
  height: 144px;
  width: 343px;
  display: flex;
  flex-direction: row;
  margin-left: -5px;
}

.Image2 {
  width: 144px;
  height: 133px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 20px 0px 0px 20px;
  border: 5px solid #FFFFFF;
  padding: 0%;
  }

  .Texte-Flex1 {
    margin-top: 5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .Block-Text-Flex1 h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
  }

  .Block-Text-Flex1 {
    margin-top: 0px;
  }
  
  .Etoiles2 {
    color: #0065FC;
    margin-left: 24px;
    margin-bottom: 5px;
  }
  
  .Etoiles2 i {
    margin-left: -10px;
  }

/*Activités à Marseille*/

.Activity-Section h1 {
  margin-left: 17px;
}

.Activity-Section {
  margin-top: 50px;
  width: 100%;
}
  
.Box-Activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Activite1 {
  height: 445px ;
  width: 302px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 2px #F2F2F2;
}

.Activite1 h2 {
  margin-left: 25px;
  margin-top: 12px;
}
.Image3 {
  width: 302px;
  height: 400px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  }

  /*Footer*/

  footer {
   width : 95%;
   margin-left: 25px;
   max-width: 1300px;
   margin-bottom: -10px;
   background-color: #F2F2F2;
  }

  .Box-Footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content:space-between;
    width: 100%;
    margin-left: 0px;
    max-width: 75%;
  }

  .Footer1 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .Propos {
    margin-left: 40px;
    padding-left: 0%;
  }

  .Footer1 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  


/*Responsive Tablet*/

@media screen and (max-width: 992px) {
  
  .Search-Bar,
  .Search-Filters {
    margin-left: 0px;
  }

  nav {
    margin-left: 0px;
  }

  .Recherche-2 i {
    display: none;
  }
  
  .Conteneur-Box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Box-Hebergements h1 {
    margin-left: 50px;
  }

  .Afficher-Plus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  .Grid-Hebergements {
    display: grid;
    grid-template-columns: 246px 246px 246px ;
    grid-template-rows: 199px 199px;
    column-gap: 31px;
    row-gap: 30px;
    margin-top: 34px;
    justify-content: center;
  }

  .Box-Populaires {
    background-color: #F2F2F2;
    width: 883px;
    height: 278px;
    border-radius: 10px;
    flex: 1;
    margin-top: 30px;
    margin-left: 5px;
  }

  .Title-Populaires {
    margin-top: -20px;
    justify-content: space-around;
    margin-right: 0%;
    margin-left: 0%;
  }
  .Title-Populaires h1 {
    margin-left: -22%;
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  .Icon-Growth {
    margin-right: -11%;
  }

  .Flex-Populaires {
    display: flex;
    flex-direction: row;
    gap: 23px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 25px;
  }
  
  .Flex1 {
    background-color: white;
    border-radius: 20px;
    height: 144px;
    width: 252px;
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-top: -15px;
  }

  .Image2 {
    width: 106px;
    height: 134px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    padding: 0%;
    object-fit:cover;
    }

  .Conteneur-Box h2 {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    }

  .Conteneur-Box {
    margin-right:0px;
    margin-left: 0px;
    }

  .Box-Activites {
    max-width: 93%;
  }
  
  .Activite1 {
    height: 267px ;
    width: 182px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 2px #F2F2F2;
    align-items: center;
    }

    .Activite1 h2 {
      margin-right: 20px;
      margin-top: 10px;
    }

  .Image3 {
    width: 182px;
    height: 211px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    }

    .Footer1 {
      margin-left: 50px;
    }

    .Box-Footer {
      max-width: 93%;
    }

}
  




/*Responsive Phone*/

@media screen and (max-width: 768px) {

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  align-self: center;
}

.Liens-Header {
  display:flex;
  flex-direction: row;
  gap: 55px;
  margin-bottom: 0px;
  margin-top: 30px;
  align-self:center;
}


nav a  {
  margin-left: 0px;
  margin-right: 0px;
}

nav img {
  align-self: center;
  margin-left: 20px;
}

.Liens-Header a:hover {
  border-bottom: solid #0065FC;
  border-top: none;
}

.Search-Bar h1 {
  line-height: normal;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

.Search-Bar p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 30px;
}

.Search-Bar {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -40px;
}

.Recherche-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 0px;
}

.Logo-Localisation i {
  margin-left: 0px;
  display: inline-block;
}

.Logo-Localisation {
  padding: 15px 14px 15px 14px;
}

.Champ-Saisie {
  margin: 0px;
}

.Recherche-2 i {
  display: inline-block
}

.Boutton-Recherche span {
  display: none;
}
.Boutton-Recherche {
  width: 49px;
  height: 49px;
  margin-left: -5px;
}

.Champ-Saisie {
  padding: 15px 50px 12px 15px;
}

.Filtres {
  display: grid;
  grid-template-columns:160px 160px ;
  grid-template-rows:50px 50px 50px ;
  row-gap: 20px ;
  column-gap: 20px;
  margin-top: -10px;
  margin-left: 10px;
  align-self: flex-start;
}

.Filtre-Nom {
  grid-column: 1/3 ;
  padding-top: 30px;
  align-self: end;
  margin-left: 18px;
}

.Box-Filter {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.Box-Filter i {
  margin-left: 10px;
  margin-right: 10px;
}

.Info-Recherche { 
  line-height: 19px;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.Info-Recherche p {
  margin-right: 0px;
  margin-left: 0px;
}

.Search-Filters {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.Conteneur-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

  .Box-Hebergements {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }

  .Box-Populaires {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 580px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.Title-Populaires {
  margin-left: 60px;
  margin-top: 0px;
}

.Flex1 {
  width: 334px;
}

.Block-Text-Flex1 {
  margin-left: 15px;
  margin-right: 15px;
}

.Flex-Populaires {
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
}

.Icon-Growth {
  margin-left: -5px;
}

.Etoiles2 i {
  margin-left: -5px;
}

.Etoiles2 {
  margin-left: 20px;
}

.Grid-Hebergements {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 360px;
  margin-left: 0px;
  margin-right: 0px;
}

.Box-Hebergements h1 {
  margin-left: 30px;
}

.Grid1 {
  margin-top: -20px;
  margin-left: -70px;
  margin-right: 0px;
}

.Grid1 img {
  width: 335px;
  object-fit: cover;
}

.Etoiles {
  margin-left: 20px;
}

.Etoiles i {
  margin-left: -5px;
}

.Afficher-Plus {
  display: none;
}

.Box-Activites{
  justify-content:flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: 0px;
  align-items:flex-start;
  }


.Activite1{
  height: 190px;
  width: 333px;
  box-shadow: 1px 2px 2px 2px #F2F2F2;
  margin-bottom: 24px;
  justify-content: center;
  margin-left: 30px;
}

.Activite1 h2 {
  margin-top: 15px;
}

.Image3 {
  height: 134px;
  width: 333px;
}

.Activity-Section h1 {
  margin-bottom: 35px;
  margin-right: 0px;
  margin-left: 30px;
}

.Activity-Section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
}

.Box-Footer {
  flex-direction: column;
  height: 501px;
  column-gap: 50px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  align-items:flex-start;
  max-width: 100%;
}

.Hebergement,
.Assistance {
  margin-right: 0px;
}

.Propos {
  margin-right: 0px;
}


.Footer1 {
  margin-bottom: 0px;
  margin-left: 30px;
}

.Footer1 p {
  line-height: 19px;
}

.Footer1 h2 {
  line-height: 21px;
}

footer {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: -10px;
}

* {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
}

}



/*Responsive All screens*/

@media all and (min-width: 1400px) {

  .Conteneur-Box {
    width: 70%;
  }

  .Box-Activites {
    width: 92%;
  }

  nav {
    max-width: 1300px;
  }

  body {
    max-width: 1400px;
    margin: 0 auto;
  }

}

