* {
    font-family: 'Raleway', sans-serif;
    margin-left: 7px;
    margin-right: 7px;
}

a {
    text-decoration: none;
    color: black;
}

.Liens-Header a:hover {
    border-top: solid #0065FC;
    color: #0065FC;
}

.Liens-Header {
  margin-left: 0px;
  margin-right: -20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  nav a {
    margin-left: 30px;
    padding: 22px;
    font-size: 16px;
  }
  
  .Logo {
    height: 18px;
    width: auto;
  }

/*Pitch*/

  main {
    margin-top: 70px;
  }

  .Search-Bar h1 {
    font-size: 22px;
    line-height: 5px;
    font-weight: 700;
  }

  .Search-Bar p {
    font-size: 16px;
  }

/*Baree de recherche*/

.Recherche-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 30px;
}

.Logo-Localisation{
  background-color: #F2F2F2;
  padding: 16px 13px 16px 13px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 0px;
}
  
::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }

.Champ-Saisie {
  margin-right: -10px;
  margin-left: -28px;
  margin-top: 0px;
  padding: 17px 50px 13px 15px;
  border-top: solid #F2F2F2;
  border-bottom: solid #F2F2F2 ;
  border-left: none;
  border-right: none;
}

.Boutton-Recherche {
  background-color:#0065FC ;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: none;
  font-size: 18px;
  width: 132px;
  height: 51px;
  }

.Info-Recherche {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

.Info-Recherche i {
  border-radius: 50%;
  border: solid #F2F2F2;
  padding: 10px 8px 10px 8px;
  color: #0065FC  ;
}

.Recherche-2 i {
  display: none;
  }
  
  /*Section Filtres*/

.Filtres {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 15px;
}

.Box-Filter {
  border-radius: 25px;
  border: solid #F2F2F2;
  padding: 8px 12px 8px 8px;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 700;
}

.Box-Filter i {
  color:#0065FC ;
}

.Filtre-Nom {
  padding-top: 8px;
  font-weight: 700;
  font-size: 18px;
}

.Box-Filter:hover {
  background-color: #DEEBFF ;
  color: #0065FC;
}




/*Card Hébergements Marseille*/

.Cards-Section {
  width: 100%;
}

strong {
  margin-left: 0%;
}

.Conteneur-Box {
  display: flex;
  align-items: center;
  justify-content:space-around ;
  width: 100%;
}

.Box-Hebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
}

.Box-Populaires {
  background-color: #F2F2F2;
  height: 650px;
  border-radius: 10px;
  flex: 1;
  margin-left: 20px;
}

.Conteneur-Box h1 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  line-height: 26px;
}

.Afficher-Plus {
  margin-top: 10px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 50px;
}

.Afficher-Plus h2 {
  line-height: 21px;
  font-weight: 700;
  font-size: 18px;
}

/*Card hébergements*/

.Box-Hebergements h1 {
  margin-left: 3%;
  margin-top: 35px;
}

.Grid-Hebergements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Top {
  margin-bottom: 20px;
}

.Bottom {
  margin-bottom: 20px;
  margin-top: 35px;
}

.Grid1 {
  background-color: white;
  width: 30%;
  height: auto;
  padding: 0.7%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.Grid1 a {
  width: 100%;
}

.Grid1-Info {
  width: 100%;
  margin-left: 0%;
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

.Grid1-Info h2 {
  margin-top: -1px;
}

.Grid1-Info h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: -12px;
}

.Etoiles {
  color: #0065FC;
  margin-top: -12px;
  margin-left: 15px ;
}

.Etoiles i {
  margin-left: -10px;
}

.fa-gris {
  color: #f2f2f2 ;
}



/*Card + populaires*/

.Box-Populaires h1 {
  margin-left: 25px;
  margin-top: 35px;
}

.Title-Populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icon-Growth i {
  color: #0065FC;
  margin-top: 25px;
}

.Flex-Populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0%;
}

.Flex1 {
  background-color: white;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.Image2 {
  width: 35%;
  height: 133px;
  object-fit: cover;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 20px 0px 0px 20px;
  border: 5px solid #FFFFFF;
  padding: 0%;
}

.Texte-Flex1 {
  margin-top: 1%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 60%;
  height: 90%;
}

.Texte-Flex1 h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: -5px;
}

.Texte-Flex1 h2 {
  width: 95%;
}

.Etoiles2 {
  color: #0065FC;
  margin-bottom: 5px;
  margin-top: 10%;
  margin-left: 10%;
}
  
.Etoiles2 i {
  margin-left: -10px;
}

/*Activités à Marseille*/

.Activity-Section h1 {
  margin-left: 17px;
  margin-bottom: 0%;
}

.Activity-Section {
  margin-top: 70px;
  width: 100%;
}
  
.Box-Activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height : 500px;
}

.Activite1 {
  width: 23%;
  height: 460px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 2px #F2F2F2;
}

.Activite1 h2 {
  margin-left: 20px;
  margin-top: 12px;
}
.Image3 {
  width: 100%;
  height: 400px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  }

  /*Footer*/

  footer {
   width : 97.5%;
   margin-left: 25px;
   margin-bottom: -10px;
   background-color: #F2F2F2;
  }

  .Box-Footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content:space-between;
    width: 100%;
    margin-left: 0px;
    max-width: 75%;
  }

  .Footer1 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .Propos {
    margin-left: 40px;
    padding-left: 0%;
  }

  .Footer1 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  


/*Responsive Tablet*/

@media screen and (max-width: 992px) {
  

  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }

  .Liens-Header {
    margin-left: 0%;
  }

  .Search-Bar,
  .Search-Filters {
    margin-left: 0px;
  }

  .Filtres {
    width: 95%;
    font-size: 15px;
  }

  .Search-Filters {
    width: 100%;
  }

  .Box-Filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .Recherche-2 i {
    display: none;
  }
  
/*Cards section*/

  .Conteneur-Box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Conteneur-Box h2 {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
  }

 .Box-Populaires {
    width: 100%;
    margin-left: 0%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  
  .Box-Hebergements {
    width: 100%;
  }


/*Hebergements*/

  .Box-Hebergements h1 {
    margin-left: 25px;
  }

  .Afficher-Plus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

/*les + populaires*/

  .Title-Populaires {
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
  }

  .Title-Populaires h1 {
    margin-left: 35px;
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  .Icon-Growth {
    margin-right: 1%;
  }

  .Flex-Populaires {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .Flex-Populaires a {
    width: 30%;
  }

  .Flex1 {
    width: 100%;
    margin-bottom: 10%;
  }

  .Texte-Flex1 {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .Image2 {
    width: 35%;
    height: 133px;
    object-fit: cover;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    padding: 0%;
  }

/*Activites*/

  .Activity-Section h1 {
    margin-left: 15px;
  }

  .Box-Activites {
    width: 100%;
    height: 280px;
    margin-top: 30px;
    margin-left: 0%;
  }
  
  .Activite1 h2 {
    margin-right: 10px;
    margin-top: 10px;
    }

  .Activite1 {
    height: 276px;
  }

  .Image3 {
    height: 211px;
    width: 100%;
    }

  
/*Footer*/

  

  .Box-Footer {
    max-width: 85%;
  }

}
  




/*Responsive Phone*/

@media screen and (max-width: 768px) {

body {
  width:100%;
}

main {
  width:100%;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  align-self: center;
  width: 100%;
}

.Liens-Header {
  display:flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 30px;
  align-self:center;
  width: 100%;
}

.Liens-Header a {
  width: 50%;
}

nav a  {
  margin-left: 0px;
  margin-right: 0px;
}

nav img {
  align-self: center;
  margin-left: 0px;
}

.Liens-Header a:hover {
  border-bottom: solid #0065FC;
  border-top: none;
}

.Search-Bar h1 {
  line-height: normal;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.Search-Bar p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 0px;
}

.Search-Bar {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -40px;
  width: 85%;
  margin-left: 10%;
  align-items: center;
}

.Recherche-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.Logo-Localisation i {
  margin-left: 0px;
  display: inline-block;
}

.Logo-Localisation {
  padding: 15px 14px 15px 14px;
}

.Champ-Saisie {
  margin: 0px;
  width: 45%;
}

.Recherche-2 i {
  display: inline-block
}

.Recherche-2 {
  width: 100%;
}

.Boutton-Recherche span {
  display: none;
}
.Boutton-Recherche {
  width: 49px;
  height: 49px;
  margin-left: -5px;
}

.Champ-Saisie {
  padding: 15px 50px 12px 15px;
}


/*Section Filtres*/

.Search-Filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}


.Filtres {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows:50px 50px 50px ;
  row-gap: 10% ;
  column-gap: 2%;
  margin-top: -10px;
  margin-left: 0px;
}

.Filtre-Nom {
  grid-column: 1/3 ;
  padding-top: 30px;
  align-self: end;
  margin-left: 0px;
}

.Box-Filter {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content:left;
  margin-left: 0%;
  padding: 1% 1% 1% 5%;
}

.Box-Filter i {
  margin-left: 10px;
  margin-right: 10px;
}

.Info-Recherche { 
  width: 100%;
  line-height: 19px;
  margin-bottom: 0px;
  margin-left: 0%;
}

.Info-Recherche p {
  margin-left: 0px;
}



/*Sections Hebergemets */

.Conteneur-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

  .Box-Hebergements {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }

  .Box-Populaires {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }

/*les + populaires*/

.Title-Populaires {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.Title-Populaires h1 {
  margin-left: 11%;
}

.Objective4 {
  object-position: 50% 30% ;
}

.Objective1,
.Objective3 {
  object-position: 50% 60% ;
}

.Image2 {
  width: 35%;
  height: 174px;
}

.Texte-Flex1 {
  width: 65%;
}

.Flex1 {
  width: 80%;
  height: auto;
  justify-content:center;
  align-self: center;
  margin-bottom: 30px;
}

.Block-Text-Flex1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.Flex-Populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 20px;
}

.Flex-Populaires a {
  width: 100%;
  height: 164px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Icon-Growth {
  margin-right: 11%;
}

.Texte-Flex1 h2,
.Texte-Flex1 h3 {
  margin-left: 15px;
  width: 90%;
}

.Etoiles2 i {
  margin-left: -5px;
}

.Etoiles2 {
  margin-left: 20px;
}

/*hebergements*/

.Grid-Hebergements {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.Box-Hebergements h1 {
  margin-left: 11%;
}

.Grid1 {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 0px;
  width: 80%;
  box-shadow: 1px 2px 2px 2px #F2F2F2;
}

.Grid1-Info h2,
.Grid1-Info h3 {
  margin-left: 20px;
}

.Grid1-Info h2 {
  margin-top: 5px;
}

.Image {
  height: 174px;
}

.Top {
  margin-bottom: 0px;
}

.Bottom {
  margin-top: 0px;
}

.Position1 {
  object-position: 50% 25%;
}

.Position2 {
  object-position: 50% 70%;
}

.Position3 {
  object-position: 50% 85%;
}

.Position4 {
  object-position: 50% 70%;
}

.Position6 {
  object-position: 50% 80%;
}

.Etoiles {
  margin-left: 25px;
}

.Etoiles i {
  margin-left: -5px;
}

.Afficher-Plus {
  display: none;
}

/*Activites*/

.Box-Activites{
  justify-content:center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 30px;
}


.Activite1{
  width: 80%;
  height: auto;
  box-shadow: 1px 2px 2px 2px #F2F2F2;
  margin-bottom: 30px;
}

.Activite1 h2 {
  margin-top: 10px;
  margin-left: 20px;
}

.Image3 {
  height: 174px;
}

.Activity-Section h1 {
  margin-bottom: -5px;
  margin-right: 0px;
  margin-left: 11%;
  margin-top: 0px;
}

.Activity-Section {
  margin-bottom: 10px;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
}

/*Footer*/ 

footer {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: -10px;
}

.Box-Footer {
  flex-direction: column;
  height: 501px;
  column-gap: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 100%;
  align-items:flex-start;
}

.Hebergement,
.Assistance
.Propos {
  margin-right: 0px;
}

.Assistance {
  margin-bottom: 0px;
}


.Footer1 {
  margin-bottom: 0px;
  margin-left: 11%;
}

.Footer1 p {
  line-height: 19px;
}

.Footer1 h2 {
  line-height: 21px;
}


* {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
}

}


/*Responsive All screens*/

@media all and (min-width: 1400px) {

  nav {
    max-width: 1400px;
  }

  body {
    max-width: 1400px;
    margin: 0 auto;
  }
  footer {
    max-width: 1400px;
  }

}

/*Responsive phone ajustements*/

@media screen and (max-width: 380px) {

  .Box-Filter {
    padding: 1%;
  }

  .Search-Filters {
    width: 90%;
  }
  
}

@media screen and (max-width: 500px) {

  .Image,
  .Image2,
  .Image3 {
    height: 134px;
  }

  .Flex-Populaires a {
    margin-bottom: 30px;
    height: 134px;
  }

  .Title-Populaires {
    margin-bottom: 0px;
  }
}



  